body {
    color: #FFFFFF;
    background-color: #040e1e;
    background: url(../img/background2.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

body.style table {
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    border-spacing: 0px;
}

table tr td{
    padding:  0;
}

th,
.style td {
    border: 1px #545454 solid;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

th,
.style td {
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

th {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #CDD7F8;
    text-decoration: underline;
}

.style td {
    color: #FFFFFF;
    border-top: 0px;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.style div a {
    padding-left: 7px;
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.style div a:link {
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.style div a:visited {
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.style div a:hover {
    background-image: url(../img/link.gif);
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
    width: 108px;
    text-decoration: none;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}

.style {
    margin-top: 10px;
}

h2 {
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    border-bottom: 0px #344566 solid;
    width: 98%;
    text-align: center;
}

.red{
    color: red;
    text-align: center;
}

.titleMenu{
    text-align: center;
    background: url(../img/bg1.gif);
}