td.c {
  border: 1px #545454 solid;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
}

td.c {
  background-color: #000000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

td.c {
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 3px;
  background-image: url(../img/bg1.gif);
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

td.s {
  color: #FFFFFF;
}

a.s {
  color: #FFFFFF;
}

.pourcentStyle {
  border: 1px solid rgb(153, 153, 255);
  width: 400px;
  margin: auto;
}