/** In game */

@media screen and (max-width: 768px) {
    .widthTable {
        width: 100% !important;
    }

    .w100{
        width: 100% !important;
    }

    .style {
        margin-bottom: 5rem;
    }
}