/** Index */

@media screen and (max-width: 768px) {

    .sizeBody {
        height: 91.5vh;
    }

    .sizeBox {
        height: 91.5vh;
        width: 100vw;
    }

    .sizeBoxCol{
        padding: 1em;
        height: 82vw;
    }
}

/** In game */

@media screen and (max-width: 768px) {
    .widthTable {
        width: 345px !important;
    }
}